h1 {
  text-align: center;
font-size: 200px;
font-family: 'Open Sans', sans-serif;
font-family: 'Dancing Script',cursive;
padding-bottom: 30px;
padding-top: 20px;
}


body {
    background-image: url("./images/candies-chocolates-delicious-867464.jpg");
  background-position: right top;
  background-attachment: fixed;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

.content {
  margin: 10px auto;
  width: 400px;
}

.user-input {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background: #CD853F;
}

.name {
  width: 300px;
  margin: 25px auto 5px auto;
  padding: 5px;
  font-size: 90%;
}

.temp {
  width: 300px;
  margin: 25px auto 5px auto;
  padding: 5px;
  font-size: 90%;
}

.favorite {
  width: 300px;
  margin: 25px auto 5px auto;
  padding: 5px;
  font-size: 90%;
}



.submit-btn {
  width: 300px;
  padding: 5px;
  margin: 5px auto 25px auto;
  background: #8B4513;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 100%;
}

.card-container {
  padding: 30px;
  background: #FFDEAD;
}

.name-card {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 8px;
  width: auto;
  background: #fff;
}

.pic img{
display: row;
margin-left: 130px;
margin-right: auto;
width: 300px;
  height:300px;
  border: solid white 5px;
  border-radius: 70%;
  margin-bottom: 10px;
  flex-direction: row;
justify-content: space-around;
align-items:center;
object-fit: cover;}

@media screen and (max-width: 500px) {
  .pic img {
    border-radius: 10%;
  }
}
